In [151]:
import pandas as pd

## Load tables

In [152]:
try: 
    mq = pd.read_csv('mq.csv')
    nftfi = pd.read_csv('nftfi.csv')
except FileNotFoundError:
    mq = pd.read_csv('analysis/mq.csv')
    nftfi = pd.read_csv('analysis/nftfi.csv')

In [153]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [208]:
print('MQ')
display(mq.head(2))
print('\n--------------------------------------------------------------------')
print('\n\nNFTfi')
display(nftfi.head(2))

MQ

,transaction_hash,block_timestamp,loan_id,to_address,from_address,principal_amount,repayment_amount,erc20_address,erc20_name,due_date,duration_in_days,apr,token_id,collection_address,protocol,amt_in_usd,roll_over,block_number,p2p_p2pool,loan_id_cleaned
0,0x933ff7d3b9d60593c97a5c9ab28205e54f019259defd...,2022-02-26 09:26:37.000000 UTC,-4882,0x676f3d2c9f5776e09d23986adc6684fb41e9000e,0x0aff497bd016000185b1c8302fa98a88ff4a4178,0.80,0.83,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2022-03-28 09:26:37.000000 UTC,30.00,0.41,1378,0x026224a2940bfe258d0dbe947919b62fe321f042,nftfi,"2,205.66",False,14280871,p2p,4882
1,0xd1b9fbddbcaaaea8fa8b19cfa53c5e9093993f0d51c0...,2022-04-19 22:33:16.000000 UTC,733,0x676f3d2c9f5776e09d23986adc6684fb41e9000e,0x2c35b3d207f745ad5b17d88328286c49a0ce4d4f,1.40,1.41,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2022-04-26 22:33:16.000000 UTC,7.00,0.50,1378,0x026224a2940bfe258d0dbe947919b62fe321f042,nftfi,"4,339.43",False,14618284,p2p,733

--------------------------------------------------------------------


NFTfi

,date,blockchain,collection_name,loan_no,loan_start_time,loan_due_time,repaid,no_of_days,liquidated,loan_principal_amount,maximum_repayment_amount,eth_price,usd_value,interest,lender,borrower,nft_collateral_contract,nft_collateral_id,active,apr,loan_erc20denomination,loan_repaid_time,loan_liquidation_time,loan_no_cleaned,loan_erc20denomination_name,loan_type
0,2022-03-30 10:43:05.000000 UTC,ethereum,Art Blocks,v2.loan.fixed-3,2022-03-30 10:43:05.000000 UTC,2022-03-30 10:50:17.000000 UTC,True,0.01,True,0.01,0.00,"3,398.59",33.99,0.00,0xd79275564CCAd8E679cbBb5E1C2FaCD46643a372,0x3e3B47b5d433bE4708A6BD524faCd48Bb54D10b1,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,1000323,False,73.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,2022-03-30 10:59:51.000000 UTC,3,weth,v2.loan.fixed
1,2022-07-04 17:30:26.000000 UTC,ethereum,Art Blocks,v2.loan.fixed-6396,2022-07-04 17:30:26.000000 UTC,2022-08-04 17:30:26.000000 UTC,True,31.00,False,9.00,0.00,"1,127.23","10,145.07",0.15,0xE0450df8d87C94B52e779e8674746EBfa7e6D04B,0x8264e9e0f4CbcBBbb3F8eCAec0A625B590Ae790e,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,5510,False,20.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,2022-08-04 16:01:50.000000 UTC,NaN,6396,weth,v2.loan.fixed

In [155]:
mq['loan_id'].head(2)

0   -4882
1     733
Name: loan_id, dtype: int64

### Clean data

In [156]:
# clean loan IDs to try and compare them
mq['loan_id_cleaned'] = mq['loan_id'].astype(str).str.replace('-','')
nftfi['loan_no_cleaned'] = nftfi['loan_no'].str.split('-').apply(lambda x: x[-1])

In [157]:
display(mq['loan_id_cleaned'])
display(nftfi['loan_no_cleaned'])

0         4882
1          733
2        31180
3        27589
4        23358
         ...
22037    20293
22038    20292
22039    20291
22040    20290
22041    20288
Name: loan_id_cleaned, Length: 22042, dtype: object

0            3
1         6396
2         7075
3         7722
4        12739
         ...
19494    18848
19495    18854
19496    18876
19497    19124
19498    19125
Name: loan_no_cleaned, Length: 19499, dtype: object

In [158]:
mq.shape[0], nftfi.shape[0]

(22042, 19499)

In [159]:
# Check minimum and maximum dates of each table
print(f"min mq date: {mq.block_timestamp.min()}; max mq date: {mq.block_timestamp.max()}")
print(f"min nftfi date: {nftfi.date.min()}; max nftfi date: {nftfi.date.max()}")

min mq date: 2020-10-15 18:15:24.000000 UTC; max mq date: 2023-05-18 12:41:47.000000 UTC
min nftfi date: 2022-03-30 10:21:32.000000 UTC; max nftfi date: 2023-05-15 10:29:23.000000 UTC

## Enrich nftfi table with ERC20 denominations

In [160]:
# Check if it can be due to missing token
usdc_address = '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'  # https://etherscan.io/token/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
usdt_address = '0xdAC17F958D2ee523a2206206994597C13D831ec7'  # https://etherscan.io/token/0xdac17f958d2ee523a2206206994597c13d831ec7
dai_address = '0x6B175474E89094C44Da98b954EedeAC495271d0F'  # https://etherscan.io/token/0x6b175474e89094c44da98b954eedeac495271d0f
weth_address = '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2'

stablecoin_addresses = [usdc_address, usdt_address, dai_address, weth_address]

stablecoin_names = ['usdc', 'usdt', 'dai', 'weth']
for stablecoin_address, stablecoin_name in zip(stablecoin_addresses, stablecoin_names):
    stablecoin_address = stablecoin_address.lower()
    nftfi.loc[nftfi['loan_erc20denomination'] == stablecoin_address, 'loan_erc20denomination_name'] = stablecoin_name

In [161]:
# Confirm that the above addresses matches the one available in MQ dataset:
mq.erc20_address.unique()

array(['0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2',
       '0x6b175474e89094c44da98b954eedeac495271d0f',
       '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'], dtype=object)

#### Enrich NFTfi table with loan types

In [162]:
nftfi['loan_type'] = nftfi.loan_no.astype(str).str.split('-').apply(lambda x: x[0]+'-'+x[1] if len(x) >2 else x[0])
nftfi['loan_type'].unique()

array(['v2.loan.fixed', 'v2-1.loan.fixed', 'v2.loan.fixed.collection'],
      dtype=object)

## Compute April subset for each table

In [163]:
april_mq = mq.loc[mq['block_timestamp'] >= '2023-04-01'].loc[mq['block_timestamp'] < '2023-05-01']
april_mq.shape

(1852, 20)

In [164]:
april_nftfi = nftfi.loc[nftfi['date'] >= '2023-04-01'].loc[nftfi['date'] < '2023-05-01']
april_nftfi = april_nftfi[~(april_nftfi['blockchain'] == 'optimism')]
april_nftfi.shape

(2168, 26)

#### Check for duplicates

In [165]:
april_nftfi.loc[april_nftfi.loan_no_cleaned.duplicated()== True]

,date,blockchain,collection_name,loan_no,loan_start_time,loan_due_time,repaid,no_of_days,liquidated,loan_principal_amount,maximum_repayment_amount,eth_price,usd_value,interest,lender,borrower,nft_collateral_contract,nft_collateral_id,active,apr,loan_erc20denomination,loan_repaid_time,loan_liquidation_time,loan_no_cleaned,loan_erc20denomination_name,loan_type
2835,2023-04-10 20:33:35.000000 UTC,ethereum,Kanpai Pandas,v2.loan.fixed.collection-32241,2023-04-10 20:33:35.000000 UTC,2023-04-13 20:33:35.000000 UTC,True,3.00,False,1.28,0.00,"1,883.01","2,412.14",0.01,0x2ae57B80DF1Ea04E5638E780ecc6c96232be65D5,0x331739Ad658F76dAbc0F5790d42599Ac38DaAD91,0xacf63e56fd08970b43401492a02f6f38b6635c91,4696,False,90.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,2023-04-12 13:40:11.000000 UTC,NaN,32241,weth,v2.loan.fixed.collection
10030,2023-04-27 00:15:11.000000 UTC,ethereum,Kanpai Pandas,v2-1.loan.fixed-34175,2023-04-27 00:15:11.000000 UTC,2023-05-11 00:15:11.000000 UTC,True,14.00,False,0.00,0.00,"1,894.89",0.00,0.00,0x226d3154Ea70DCC8b983f4BD4061D8BED318E03f,0x331739Ad658F76dAbc0F5790d42599Ac38DaAD91,0xacf63e56fd08970b43401492a02f6f38b6635c91,4695,False,46.01,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,2023-05-06 19:03:23.000000 UTC,NaN,34175,usdc,v2-1.loan.fixed

In [166]:
april_mq.loc[april_mq.loan_id_cleaned.duplicated()== True]

Empty DataFrame
Columns: [transaction_hash, block_timestamp, loan_id, to_address, from_address, principal_amount, repayment_amount, erc20_address, erc20_name, due_date, duration_in_days, apr, token_id, collection_address, protocol, amt_in_usd, roll_over, block_number, p2p_p2pool, loan_id_cleaned]
Index: []

In [167]:
april_nftfi = april_nftfi[~(april_nftfi['blockchain'] == 'optimism')]

In [168]:
april_nftfi.loc[april_nftfi.loan_no_cleaned.duplicated()== True]

,date,blockchain,collection_name,loan_no,loan_start_time,loan_due_time,repaid,no_of_days,liquidated,loan_principal_amount,maximum_repayment_amount,eth_price,usd_value,interest,lender,borrower,nft_collateral_contract,nft_collateral_id,active,apr,loan_erc20denomination,loan_repaid_time,loan_liquidation_time,loan_no_cleaned,loan_erc20denomination_name,loan_type
2835,2023-04-10 20:33:35.000000 UTC,ethereum,Kanpai Pandas,v2.loan.fixed.collection-32241,2023-04-10 20:33:35.000000 UTC,2023-04-13 20:33:35.000000 UTC,True,3.00,False,1.28,0.00,"1,883.01","2,412.14",0.01,0x2ae57B80DF1Ea04E5638E780ecc6c96232be65D5,0x331739Ad658F76dAbc0F5790d42599Ac38DaAD91,0xacf63e56fd08970b43401492a02f6f38b6635c91,4696,False,90.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,2023-04-12 13:40:11.000000 UTC,NaN,32241,weth,v2.loan.fixed.collection
10030,2023-04-27 00:15:11.000000 UTC,ethereum,Kanpai Pandas,v2-1.loan.fixed-34175,2023-04-27 00:15:11.000000 UTC,2023-05-11 00:15:11.000000 UTC,True,14.00,False,0.00,0.00,"1,894.89",0.00,0.00,0x226d3154Ea70DCC8b983f4BD4061D8BED318E03f,0x331739Ad658F76dAbc0F5790d42599Ac38DaAD91,0xacf63e56fd08970b43401492a02f6f38b6635c91,4695,False,46.01,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,2023-05-06 19:03:23.000000 UTC,NaN,34175,usdc,v2-1.loan.fixed

In [169]:
display(april_mq.head(3).sort_values('loan_id_cleaned', ascending=False))
display(april_nftfi.head(3).sort_values('loan_no_cleaned', ascending=False))

,transaction_hash,block_timestamp,loan_id,to_address,from_address,principal_amount,repayment_amount,erc20_address,erc20_name,due_date,duration_in_days,apr,token_id,collection_address,protocol,amt_in_usd,roll_over,block_number,p2p_p2pool,loan_id_cleaned
28,0xecaf8a9e276b227506ebc8acc837792370ec83d52e39...,2023-04-28 00:40:35.000000 UTC,34311,0xefa755b82218dc287ed37bf6463c144ae6609076,0x08f6db921b10ce9f7ec4166b9be9dc01a30c34cc,"10,000.00","10,082.19",0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDc,2023-05-28 00:40:35.000000 UTC,30.00,0.10,6096,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,nftfi,"10,000.00",False,17141128,p2p,34311
82,0x2d07d7afcb6324bfc6239c6bcc9bca658a49cd2b227c...,2023-04-27 13:53:47.000000 UTC,34265,0xa35b95b60af5205dbd02571d8d72ef83f79a28af,0x1797b4235473fbe0e7e44322f01c1b5618ebda41,6.00,6.54,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2024-04-26 13:53:47.000000 UTC,365.00,0.09,9470,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,nftfi,"11,261.08",False,17137936,p2p,34265
2,0x0f3522aa06eb28b8cceb590ea80cbd335ab64010dab8...,2023-04-02 09:27:59.000000 UTC,31180,0xf7b18e107eb36797f4ce36de756630b9c30969ad,0x31d75becb2fe9cc60eb4877b44110aa1cdae90a5,800.00,826.30,0x6b175474e89094c44da98b954eedeac495271d0f,DAI,2023-06-01 09:27:59.000000 UTC,60.00,0.20,2118,0x026224a2940bfe258d0dbe947919b62fe321f042,nftfi,800.00,False,16960517,p2p,31180

,date,blockchain,collection_name,loan_no,loan_start_time,loan_due_time,repaid,no_of_days,liquidated,loan_principal_amount,maximum_repayment_amount,eth_price,usd_value,interest,lender,borrower,nft_collateral_contract,nft_collateral_id,active,apr,loan_erc20denomination,loan_repaid_time,loan_liquidation_time,loan_no_cleaned,loan_erc20denomination_name,loan_type
18,2023-04-05 12:21:23.000000 UTC,ethereum,Art Blocks,v2-1.loan.fixed-31524,2023-04-05 12:21:23.000000 UTC,2024-04-04 12:21:23.000000 UTC,False,365.00,False,6.00,0.00,"1,910.54","11,463.24",0.54,0x9eff536C3f8fBA72261C687154E9Dc4289b0745D,0xfe285aE8A0F7FE2Dd3743966F2f1B85596f63564,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,9408,True,9.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,31524,weth,v2-1.loan.fixed
17,2023-04-05 12:13:11.000000 UTC,ethereum,Art Blocks,v2-1.loan.fixed-31522,2023-04-05 12:13:11.000000 UTC,2024-04-04 12:13:11.000000 UTC,False,365.00,False,6.00,0.00,"1,912.63","11,475.78",0.54,0x9eff536C3f8fBA72261C687154E9Dc4289b0745D,0xeFFfDc05e7c5B305Fbd504366B01f2d6424cB8c4,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,2244,True,9.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,31522,weth,v2-1.loan.fixed
16,2023-04-05 05:48:35.000000 UTC,ethereum,Art Blocks,v2-1.loan.fixed-31479,2023-04-05 05:48:35.000000 UTC,2024-04-04 05:48:35.000000 UTC,False,365.00,False,6.00,0.00,"1,911.87","11,471.22",0.54,0x9eff536C3f8fBA72261C687154E9Dc4289b0745D,0x3b7F246d8340DE4Fe0495Bfd243FBEa798503C7f,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,9449,True,9.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,31479,weth,v2-1.loan.fixed

In [170]:
# Determine the set of unique IDs present in MQ and not in NFTfi
len(set(list(april_mq.loan_id_cleaned)) - set(list(april_nftfi.loan_no_cleaned)))

402

In [171]:
april_mq.shape, april_nftfi.shape

((1852, 20), (2168, 26))

In [172]:
april_nftfi.shape[0] - april_mq.shape[0]

316

In [173]:
mq_loans_not_in_nftfi = list(
        set(list(april_mq.loan_id_cleaned)) - set(list(april_nftfi.loan_no_cleaned))
    )
mq_loans_not_in_nftfi[:5]

['32542', '32223', '31972', '32585', '31450']

In [174]:
len(mq_loans_not_in_nftfi)

402

In [175]:
# MQ loans not in NFTfi
mq_not_in_nftfi = april_mq[april_mq['loan_id_cleaned'].isin(mq_loans_not_in_nftfi)].reset_index(drop=True)
mq_not_in_nftfi.head(3)

,transaction_hash,block_timestamp,loan_id,to_address,from_address,principal_amount,repayment_amount,erc20_address,erc20_name,due_date,duration_in_days,apr,token_id,collection_address,protocol,amt_in_usd,roll_over,block_number,p2p_p2pool,loan_id_cleaned
0,0x0f3522aa06eb28b8cceb590ea80cbd335ab64010dab8...,2023-04-02 09:27:59.000000 UTC,31180,0xf7b18e107eb36797f4ce36de756630b9c30969ad,0x31d75becb2fe9cc60eb4877b44110aa1cdae90a5,800.00,826.30,0x6b175474e89094c44da98b954eedeac495271d0f,DAI,2023-06-01 09:27:59.000000 UTC,60.00,0.20,2118,0x026224a2940bfe258d0dbe947919b62fe321f042,nftfi,800.00,False,16960517,p2p,31180
1,0x18fb1609bf5abff9e1fb2b9f44c1cd3ac1eebc9d1555...,2023-04-13 01:40:35.000000 UTC,32542,0x905f48cbaaaf881dbee913ce040c3b26d3bbc6d9,0x5b20dce335d131c6de0cc11b481ace2aade788df,12.50,13.09,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,wETH,2023-07-12 01:40:35.000000 UTC,90.00,0.19,2949,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,nftfi,"23,874.38",False,17035683,p2p,32542
2,0x7a60e16d71c9b4042d425eb67a950a58f3b8aeb8d759...,2023-04-26 10:16:23.000000 UTC,34061,0x376bc7ddbc6a10f32b7421287f1dac6de0ad9f12,0x66ea2d335291a5afa8d3522eef6adfc3f8746e16,"12,000.00","12,295.89",0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDc,2023-06-25 10:16:23.000000 UTC,60.00,0.15,8223,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,nftfi,"12,000.00",False,17129749,p2p,34061

In [176]:
# We need to explore this table
mq_not_in_nftfi.erc20_name.unique()

array(['DAI', 'wETH', 'USDc'], dtype=object)

## NFTfi loans not in MQ

In [177]:
nftfi_loans_not_in_mq = list(
        set(list(april_nftfi.loan_no_cleaned)) - set(list(april_mq.loan_id_cleaned))
    )
len(nftfi_loans_not_in_mq)

716

In [178]:
## LOANS IN NFTFI AND NOT IN MQ
nftfi_not_in_mq = april_nftfi[april_nftfi['loan_no_cleaned'].isin(nftfi_loans_not_in_mq)].reset_index(drop=True)
nftfi_not_in_mq

,date,blockchain,collection_name,loan_no,loan_start_time,loan_due_time,repaid,no_of_days,liquidated,loan_principal_amount,maximum_repayment_amount,eth_price,usd_value,interest,lender,borrower,nft_collateral_contract,nft_collateral_id,active,apr,loan_erc20denomination,loan_repaid_time,loan_liquidation_time,loan_no_cleaned,loan_erc20denomination_name,loan_type
0,2023-04-11 20:14:59.000000 UTC,ethereum,Friendship Bracelets by Alexis Andr,v2-1.loan.fixed-32381,2023-04-11 20:14:59.000000 UTC,2023-05-15 20:14:59.000000 UTC,False,34.00,False,0.17,0.00,"1,893.88",313.30,0.01,0x5a5617BA16Beba3d04ae3C6b1e9d522c1856763C,0x54f61eb7659141E7eDcc2cA6337ba1BEE200Ef0d,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,34695,True,69.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,32381,weth,v2-1.loan.fixed
1,2023-04-11 20:24:11.000000 UTC,ethereum,Friendship Bracelets by Alexis Andr,v2-1.loan.fixed-32384,2023-04-11 20:24:11.000000 UTC,2023-05-16 20:24:11.000000 UTC,False,35.00,False,0.17,0.00,"1,888.23",312.37,0.01,0x5a5617BA16Beba3d04ae3C6b1e9d522c1856763C,0x54f61eb7659141E7eDcc2cA6337ba1BEE200Ef0d,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,33113,True,69.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,32384,weth,v2-1.loan.fixed
2,2023-04-12 21:55:47.000000 UTC,ethereum,Friendship Bracelets by Alexis Andr,v2-1.loan.fixed-32532,2023-04-12 21:55:47.000000 UTC,2023-06-03 21:55:47.000000 UTC,False,52.00,False,0.15,0.00,"1,917.11",296.49,0.02,0x5a5617BA16Beba3d04ae3C6b1e9d522c1856763C,0xBeC69dfcE4c1fA8b7843FEE1Ca85788d84A86B06,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,38368,True,69.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,32532,weth,v2-1.loan.fixed
3,2023-04-12 21:56:23.000000 UTC,ethereum,Friendship Bracelets by Alexis Andr,v2-1.loan.fixed-32533,2023-04-12 21:56:23.000000 UTC,2023-05-19 21:56:23.000000 UTC,False,37.00,False,0.16,0.00,"1,917.11",300.11,0.01,0x5a5617BA16Beba3d04ae3C6b1e9d522c1856763C,0xBeC69dfcE4c1fA8b7843FEE1Ca85788d84A86B06,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,33523,True,69.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,32533,weth,v2-1.loan.fixed
4,2023-04-12 21:57:11.000000 UTC,ethereum,Friendship Bracelets by Alexis Andr,v2-1.loan.fixed-32535,2023-04-12 21:57:11.000000 UTC,2023-05-19 21:57:11.000000 UTC,False,37.00,False,0.16,0.00,"1,917.11",299.90,0.01,0x5a5617BA16Beba3d04ae3C6b1e9d522c1856763C,0xBeC69dfcE4c1fA8b7843FEE1Ca85788d84A86B06,0x942bc2d3e7a589fe5bd4a5c6ef9727dfd82f5c8a,26810,True,69.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,32535,weth,v2-1.loan.fixed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,2023-04-25 21:25:35.000000 UTC,ethereum,NFTrees,v2.loan.fixed.collection-33989,2023-04-25 21:25:35.000000 UTC,2023-05-16 21:25:35.000000 UTC,True,21.00,False,0.00,0.00,"1,870.25",0.00,0.00,0x5CAdce51dB28AB261E50743fEB881a3F7AcA0A69,0x1A5B87FF2e576B0A4605206c262A3D793BaB725a,0xeaa4c58427c184413b04db47889b28b5c98ebb7b,354,False,17.50,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,2023-05-08 06:51:47.000000 UTC,NaN,33989,usdc,v2.loan.fixed.collection
714,2023-04-25 21:37:11.000000 UTC,ethereum,NFTrees,v2-1.loan.fixed-33990,2023-04-25 21:37:11.000000 UTC,2023-05-16 21:37:11.000000 UTC,True,21.00,False,0.00,0.00,"1,868.17",0.00,0.00,0x5CAdce51dB28AB261E50743fEB881a3F7AcA0A69,0x0515b7819A045AeB797E984Acb0D05cDAfA98D35,0xeaa4c58427c184413b04db47889b28b5c98ebb7b,22,False,17.50,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,2023-05-08 23:00:11.000000 UTC,NaN,33990,usdc,v2-1.loan.fixed
715,2023-04-03 22:17:23.000000 UTC,ethereum,Azuki,v2.loan.fixed.collection-31340,2023-04-03 22:17:23.000000 UTC,2023-04-24 22:17:23.000000 UTC,True,21.00,False,"14,000.00",0.00,"1,813.83","14,000.00",257.75,0x984879991a9d5a257fbB2b3b173936f974fE2c3f,0xcc00b2E85A8A9D712af7dff7601499fa66C6A702,0xed5af388653567af2f388e6224dc7c4b3241c544,7850,False,32.00,0x6b175474e89094c44da98b954eedeac495271d0f,2023-04-16 20:07:35.000000 UTC,NaN,31340,dai,v2.loan.fixed.collection
716,2023-04-22 14:24:59.000000 UTC,ethereum,Azuki,v2.loan.fixed.collection-33603,2023-04-22 14:24:59.000000 UTC,2023-05-13 14:24:59.000000 UTC,True,21.00,False,"16,500.00",0.00,"1,854.59","16,500.00",275.30,0x984879991a9d5a257fbB2b3b173936f974fE2c3f,0x703229Ec1005fba3108883b8A094EA206FC1E161,0xed5af388653567af2f388e6224dc7c4b3241c544,6504,False,29.00,0x6b175474e89094c44da98b954eedeac495271d0f,2023-05-13 08:14:23.000000 UTC,NaN,33603,dai,v2.loan.fixed.collection
717,2023-04-29 12:46:47.000000 UTC,ethereum,Azuki,v2.loan.fixed.collection-34479,2023-04-29 12:46:47.000000 UTC,2023-05-20 12:46:47.000000 UTC,False,21.00,False,"11,900.00",0.00,"1,897.14","11,900.00",10.27,0x0515b7819A045AeB797E984Acb0D05cDAfA98D35,0xf1CC450685dEEc8898ACf188803cB02ea44661A4,0xed5af388653567af2f388e6224dc7c4b3241c544,9392,True,1.50,0x6b175474e89094c44da98b954eedeac495271d0f,NaN,NaN,34479,dai,v2.loan.fixed.collection

In [179]:
# Explore the resulting set of nftfi_not_in_mq. Is there any pattern?
nftfi_not_in_mq.describe()

,no_of_days,loan_principal_amount,maximum_repayment_amount,eth_price,usd_value,interest,nft_collateral_id,apr
count,718.00,718.00,718.00,718.00,718.00,718.00,718.00,718.00
mean,13.42,155.69,0.00,"1,943.41","5,413.59",2.14,"1,946,874,416.21",59.62
std,12.13,"1,127.87",0.00,107.14,"20,610.52",17.64,"17,977,362,124.44",41.63
min,1.00,0.00,0.00,"1,778.23",0.00,0.00,11.00,0.97
25%,7.00,0.41,0.00,"1,863.77",770.98,0.01,"2,120.00",30.01
50%,7.00,0.69,0.00,"1,904.05","1,303.91",0.01,"4,633.00",51.24
75%,14.00,2.54,0.00,"2,088.92","4,633.63",0.05,"8,174.50",80.00
max,180.00,"16,500.00",0.00,"2,124.20","360,028.53",275.30,"171,000,107,242.00",299.00

### Are discrepancies due to loan type which is not accounted for?

In [180]:
# How about loan numbers, how do they vary from a naming standpoint?
# x[0]+x[1] if len(x) >2 else x[0] is such that it returns "v2-1.loan.fixed" from "v2-1.loan.fixed-32381", 
#    else returns "v2.loan.fixed.collection" from "v2.loan.fixed.collection-34479"

nftfi_not_in_mq.loan_no.astype(str).str.split('-').apply(lambda x: x[0]+'-'+x[1] if len(x) >2 else x[0]).unique()
# it seems from the above result that [v2-1.loan.fixed', 'v2.loan.fixed.collection'] are the two loan types which are not accounted for

array(['v2-1.loan.fixed', 'v2.loan.fixed.collection'], dtype=object)

In [181]:
# Is the above true as well for the whole table set?
nftfi_loans_not_in_mq = list(
        set(list(nftfi.loan_no_cleaned)) - set(list(mq.loan_id_cleaned))
    )
print(len(nftfi_loans_not_in_mq))
# How about loan numbers, how do they vary from a naming standpoint?
# x[0]+x[1] if len(x) >2 else x[0] is such that it returns "v2-1.loan.fixed" from "v2-1.loan.fixed-32381", 
#    else returns "v2.loan.fixed.collection" from "v2.loan.fixed.collection-34479"

nftfi_not_in_mq.loan_no.astype(str).str.split('-').apply(lambda x: x[0]+'-'+x[1] if len(x) >2 else x[0]).unique()
# it seems from the above result that [v2-1.loan.fixed', 'v2.loan.fixed.collection'] are the two loan types which are not accounted for

4974

array(['v2-1.loan.fixed', 'v2.loan.fixed.collection'], dtype=object)

### Is it due to missed erc20 token denomination?

In [182]:
# Check if it can be due to missing token
usdc_address = '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'  # https://etherscan.io/token/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
usdt_address = '0xdAC17F958D2ee523a2206206994597C13D831ec7'  # https://etherscan.io/token/0xdac17f958d2ee523a2206206994597c13d831ec7
dai_address = '0x6B175474E89094C44Da98b954EedeAC495271d0F'  # https://etherscan.io/token/0x6b175474e89094c44da98b954eedeac495271d0f
weth_address = '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2'

stablecoin_addresses = [usdc_address, usdt_address, dai_address, weth_address]

stablecoin_names = ['usdc', 'usdt', 'dai', 'weth']
for stablecoin_address, stablecoin_name in zip(stablecoin_addresses, stablecoin_names):
    stablecoin_address = stablecoin_address.lower()
    nftfi_not_in_mq.loc[nftfi_not_in_mq['loan_erc20denomination'] == stablecoin_address, 'loan_erc20denomination_name'] = stablecoin_name

In [183]:
nftfi_not_in_mq.loan_erc20denomination_name.unique()
# It does not seem to be linked to missing token.

array(['weth', 'dai', 'usdc'], dtype=object)

### Let's compute loan volumes per token denomination to see if they match

In [184]:
display(april_nftfi.head(2))
display(april_mq.head(2))

,date,blockchain,collection_name,loan_no,loan_start_time,loan_due_time,repaid,no_of_days,liquidated,loan_principal_amount,maximum_repayment_amount,eth_price,usd_value,interest,lender,borrower,nft_collateral_contract,nft_collateral_id,active,apr,loan_erc20denomination,loan_repaid_time,loan_liquidation_time,loan_no_cleaned,loan_erc20denomination_name,loan_type
16,2023-04-05 05:48:35.000000 UTC,ethereum,Art Blocks,v2-1.loan.fixed-31479,2023-04-05 05:48:35.000000 UTC,2024-04-04 05:48:35.000000 UTC,False,365.00,False,6.00,0.00,"1,911.87","11,471.22",0.54,0x9eff536C3f8fBA72261C687154E9Dc4289b0745D,0x3b7F246d8340DE4Fe0495Bfd243FBEa798503C7f,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,9449,True,9.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,31479,weth,v2-1.loan.fixed
17,2023-04-05 12:13:11.000000 UTC,ethereum,Art Blocks,v2-1.loan.fixed-31522,2023-04-05 12:13:11.000000 UTC,2024-04-04 12:13:11.000000 UTC,False,365.00,False,6.00,0.00,"1,912.63","11,475.78",0.54,0x9eff536C3f8fBA72261C687154E9Dc4289b0745D,0xeFFfDc05e7c5B305Fbd504366B01f2d6424cB8c4,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,2244,True,9.00,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,31522,weth,v2-1.loan.fixed

,transaction_hash,block_timestamp,loan_id,to_address,from_address,principal_amount,repayment_amount,erc20_address,erc20_name,due_date,duration_in_days,apr,token_id,collection_address,protocol,amt_in_usd,roll_over,block_number,p2p_p2pool,loan_id_cleaned
2,0x0f3522aa06eb28b8cceb590ea80cbd335ab64010dab8...,2023-04-02 09:27:59.000000 UTC,31180,0xf7b18e107eb36797f4ce36de756630b9c30969ad,0x31d75becb2fe9cc60eb4877b44110aa1cdae90a5,800.00,826.30,0x6b175474e89094c44da98b954eedeac495271d0f,DAI,2023-06-01 09:27:59.000000 UTC,60.00,0.20,2118,0x026224a2940bfe258d0dbe947919b62fe321f042,nftfi,800.00,False,16960517,p2p,31180
28,0xecaf8a9e276b227506ebc8acc837792370ec83d52e39...,2023-04-28 00:40:35.000000 UTC,34311,0xefa755b82218dc287ed37bf6463c144ae6609076,0x08f6db921b10ce9f7ec4166b9be9dc01a30c34cc,"10,000.00","10,082.19",0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDc,2023-05-28 00:40:35.000000 UTC,30.00,0.10,6096,0x059edd72cd353df5106d2b9cc5ab83a52287ac3a,nftfi,"10,000.00",False,17141128,p2p,34311

In [185]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.set_option('display.float_format', '{:,.2f}'.format)
display(april_nftfi.groupby('loan_erc20denomination_name').agg('sum'))

display(april_mq.groupby('erc20_name').agg('sum'))

,repaid,no_of_days,liquidated,loan_principal_amount,maximum_repayment_amount,eth_price,usd_value,interest,nft_collateral_id,active,apr
loan_erc20denomination_name,,,,,,,,,,,
dai,80,"2,650.00",6,"437,916.88",0.00,"229,235.32","437,916.88","9,028.68",160501594,35,"4,027.37"
usdc,38,"1,322.00",0,0.00,0.00,"116,466.68",0.00,0.00,12083191949589322,23,"2,498.68"
weth,1224,"47,371.00",372,"4,473.88",0.00,"3,803,140.39","8,609,452.54",102.05,52495435158469382,390,"107,312.46"

,loan_id,principal_amount,repayment_amount,duration_in_days,apr,amt_in_usd,roll_over,block_number
erc20_name,,,,,,,,
DAI,4191128,"394,685.88","405,500.21","3,675.00",42.73,"394,685.88",0,2182533702
USDc,1978300,"451,556.00","456,643.87","1,653.00",22.86,"451,556.00",0,1008723705
wETH,54665173,"2,977.71","3,074.87","54,582.00",812.65,"5,676,459.91",0,28398510161

In [186]:

print("NFTfi:")
display(pd.DataFrame(april_nftfi.groupby('loan_erc20denomination_name').agg('sum')['loan_principal_amount']))
print("\n\nMQ:")
display(pd.DataFrame(april_mq.groupby('erc20_name').agg('sum')['principal_amount']))

NFTfi:

                             loan_principal_amount
loan_erc20denomination_name
dai                                     437,916.88
usdc                                          0.00
weth                                      4,473.88

MQ:

            principal_amount
erc20_name
DAI               394,685.88
USDc              451,556.00
wETH                2,977.71

#### We see from the above results that NFTfi and MQ respective loan principal amounts grouped by the loan erc20 denomination do not match at all. How about the total dollar numbers?

In [187]:
print("NFTfi:")
total_usd_nftfi_volume_per_ccy = pd.DataFrame(april_nftfi.groupby('loan_erc20denomination_name').agg('sum')['usd_value'])
display(total_usd_nftfi_volume_per_ccy)
print("\n\nMQ:")
total_usd_mq_volume_per_ccy = pd.DataFrame(april_mq.groupby('erc20_name').agg('sum')['amt_in_usd'])
display(total_usd_mq_volume_per_ccy)

NFTfi:

                               usd_value
loan_erc20denomination_name
dai                           437,916.88
usdc                                0.00
weth                        8,609,452.54

MQ:

             amt_in_usd
erc20_name
DAI          394,685.88
USDc         451,556.00
wETH       5,676,459.91

#### Total numbers are very off. Can that be explained with the set of loans which are not in each dataset?

In [206]:
print("Total dollar value of loan principal for NFTfi loans which are not in MQ, for April and NFTfi:")
display(pd.DataFrame(nftfi_not_in_mq.groupby('loan_erc20denomination_name').agg('sum')['usd_value']))
print("\n\nTotal dollar value of loan principal for MQ loans which are not inNFtfi, for April and MQ:")
display(pd.DataFrame(mq_not_in_nftfi.groupby('erc20_name').agg('sum')['amt_in_usd']))

Total dollar value of loan principal for NFTfi loans which are not in MQ, for April and NFTfi:

                               usd_value
loan_erc20denomination_name
dai                           109,851.00
usdc                                0.00
weth                        3,777,108.62

Total dollar value of loan principal for MQ loans which are not inNFtfi, for April and MQ:

            amt_in_usd
erc20_name
DAI          66,620.00
USDc         20,240.00
wETH        842,631.70

In [189]:
usd_values_of_nftfi_not_in_mq = pd.DataFrame(nftfi_not_in_mq.groupby('loan_erc20denomination_name').agg('sum')['usd_value'])
usd_values_of_mq_not_in_nftfi = pd.DataFrame(mq_not_in_nftfi.groupby('erc20_name').agg('sum')['amt_in_usd'])

In [190]:
weth_usd_amount_nftfi_not_in_mq = usd_values_of_nftfi_not_in_mq.loc['weth'].values[0]
weth_usd_amount_mq_not_in_nftfi = usd_values_of_mq_not_in_nftfi.loc['wETH'].values[0]

weth_usd_amount_total_nftfi = total_usd_nftfi_volume_per_ccy.loc['weth'].values[0]
weth_usd_amount_total_mq = total_usd_mq_volume_per_ccy.loc['wETH'].values[0]

print(weth_usd_amount_total_nftfi, weth_usd_amount_nftfi_not_in_mq, weth_usd_amount_mq_not_in_nftfi, weth_usd_amount_total_mq)

# total NFTfi missing from MQ volume, minus total MQ volume missing from NFTfi

weth_usd_amount_nftfi_not_in_mq - weth_usd_amount_mq_not_in_nftfi - weth_usd_amount_total_nftfi  + weth_usd_amount_total_mq

8609452.538296636 3777108.6218966604 842631.7024159228 5676459.911920467

1484.2931045684963

#### How about dollar amounts PER loan type?

In [204]:
usd_values_of_nftfi_not_in_mq = pd.DataFrame(nftfi_not_in_mq.groupby(['loan_erc20denomination_name','loan_type']).agg('sum')['usd_value'])
usd_values_of_nftfi_not_in_mq

                                                        usd_value
loan_erc20denomination_name loan_type
dai                         v2-1.loan.fixed             12,100.00
                            v2.loan.fixed.collection    97,751.00
usdc                        v2-1.loan.fixed                  0.00
                            v2.loan.fixed.collection         0.00
weth                        v2-1.loan.fixed            449,164.39
                            v2.loan.fixed.collection 3,327,944.23

In [205]:
print("NFTfi:")
display(total_usd_nftfi_volume_per_ccy)
print("\n\nMQ:")
display(total_usd_mq_volume_per_ccy)

NFTfi:

                               usd_value
loan_erc20denomination_name
dai                           437,916.88
usdc                                0.00
weth                        8,609,452.54

MQ:

             amt_in_usd
erc20_name
DAI          394,685.88
USDc         451,556.00
wETH       5,676,459.91

## How are liquidations accounted for?

In [ ]:
# TODO:
# spreadsheet of different transactions that are missing, or are more of them on MQ dataset. we need clear doc discussing which tsx are missing, which are added,
# what are the volume differences coming from.

# try and check that the eth value of those loans per transaction is the same.
# check if volumes per loanerc20 collateral are matching